#container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#texto{
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#iniciar{
    position: absolute;
    left: 25%;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #4F5EEA;
}

#iniciar:hover{
    background-color: #220BD4;
}
#parar{
    position: absolute;
    left: 25%;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #FA4528;
}

#parar:hover{
    background-color: #EB0A00;
}

#reiniciar{
    position: absolute;
    left: 60%;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7EEB42;
}

#reiniciar:hover{
    background-color: #45D413;
}